@import "tailwindcss";

@theme {
  --color-primary-50: #e1e8ef;
  --color-primary-100: #d4dee7;
  --color-primary-200: #b7c7d7;
  --color-primary-300: #99b0c7;
  --color-primary-400: #7c99b6;
  --color-primary-500: #5e82a6;
  --color-primary-600: #4c6b8a;
  --color-primary-700: #3c546c;
  --color-primary-800: #2c3d4f;
  --color-primary-900: #1b2631;
  --color-primary-950: #141c24;

  --color-accent-50: #faf5f0;
  --color-accent-100: #f4ece1;
  --color-accent-200: #e8d6bf;
  --color-accent-300: #ddc2a2;
  --color-accent-400: #d2af84;
  --color-accent-500: #c69963;
  --color-accent-600: #b78343;
  --color-accent-700: #926835;
  --color-accent-800: #6c4d28;
  --color-accent-900: #4b351b;
  --color-accent-950: #382814;
}

/* For data picker */
.rdp-root {
  --rdp-accent-color: var(--color-accent-500) !important;
  --rdp-accent-background-color: var(--color-accent-600) !important;
  --rdp-day_button-border-radius: 0px !important;
  margin: 0 !important;
}

.rdp-months {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  gap: 1rem !important;
  justify-content: center !important;
}

.rdp-day_button {
  width: 2.25rem !important;
  height: 2.25rem !important;
  color: var(--color-primary-200) !important;
}

.rdp-day_button:hover:not([disabled]) {
  background-color: var(--color-primary-800) !important;
  color: var(--color-primary-50) !important;
}

.rdp-selected .rdp-day_button {
  background-color: var(--color-accent-500) !important;
  color: var(--color-primary-900) !important;
  font-weight: bold !important;
}

.rdp-range_middle .rdp-day_button {
  background-color: var(--color-primary-800) !important;
  color: var(--color-primary-50) !important;
}

.rdp-range_start .rdp-day_button,
.rdp-range_end .rdp-day_button {
  background-color: var(--color-accent-500) !important;
  color: var(--color-primary-900) !important;
}

.rdp-today {
  color: var(--color-accent-500) !important;
  font-weight: bold !important;
}

.rdp-chevron {
  fill: var(--color-accent-500) !important;
}

.rdp-weekday {
  color: var(--color-primary-400) !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: 0.8rem !important;
}

.rdp-caption_label {
  color: var(--color-primary-100) !important;
  font-weight: bold !important;
  font-size: 1.1rem !important;
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid #1b2631;
  border-right-color: #b7c7d7;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.spinner-mini {
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #c69963; /* accent-500 color */
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
  display: block;
}
